* {
  box-sizing: border-box;
}
body {

  
  caption {
    caption-side: bottom;
    text-align: right;
    padding: 10px 0; 
    font-size: 14px;
    }



  padding: 10;
  margin: 10;
}
.wrapper {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  padding-top: 90px;
}

button {
  margin-bottom: 50px;
}

.col-md-2 {
  border: 1px solid #000;
  padding: 7px;
  font-size: 15px;
}